*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* body{
    background-color: #fbfbfb;
} */
.navbar{
    background-color: rgb(16, 16, 16);
    overflow: auto;
    height: 70px;
}
.navbar li{
    list-style: none;
    color: white;
}
.navbar li a{
    color: white;
    text-decoration: none;
    float: left;
    position: relative;
    left: 30%;
    font-size: 20px;
    margin: 14px 8px;
    padding: 8px 12px;
    border-radius: 6px;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
.navbar li a:hover{
    background-color: whitesmoke;
    color: rgb(16, 16, 16);
}

/* main content css is here */

.dark{
    background-color: black;
    height: 800px;
}
#ipad1{
    background-image: url("/home/ipad00.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -180px 0;
    width: 50%;
    height: 681px;
}
.content{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.intro{
    margin-top: 300px;
}
.cont{
    font-size: 45px;
    font-weight: bold;
}